body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blog-banner{
  background-image: url(./blog-image/bg.jpg);
  background-position: 50%;
  background-size: cover;
  padding: 297px 0 150px;
}



.container {
  margin: 0 auto;
  max-width: 1170px;
  padding-inline: 20px;
  width: 100%;
}
@media (min-width: 1200px){
.container{
    max-width: 1140px;
}
}

@media (min-width: 1024px){
.container{
    max-width: 960px;
  }
}
@media (min-width: 768px){
.container{
    max-width: 800px;
  }
}
@media (min-width: 576px){
.container {
    max-width: 540px;
  }
}

.default-button.reverse-effect:before {
  background-color: #ff0052;
}

.default-button:before {
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(0 0 0 / 20%);
  z-index: 1;
}

.default-button:after {
  background-color: #ff0052;
  z-index: 0;
}

.default-button.reverse-effect:hover:before {
  background-color: #fff;
}
.default-button.reverse-effect:hover:after {
  background-color: #ff0052;
}

.default-button:after, .default-button:before {
  border-radius: 4px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: .3s cubic-bezier(.79,.14,.15,.86);
  width: 100%;
}
.default-button.reverse-effect:after {
  background-color: #fff;
}

.default-button:after, .default-button:hover {
  -webkit-transform: translate(4px,4px);
  transform: translate(4px,4px);
}


.default-button span {
  position: inherit;
  z-index: 2;
}

.default-button.reverse-effect {
  color: #fff;
}

.default-button {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  color: #ff0052;
  font-family: Oswald,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 3rem;
  line-height: 60px;
  padding: 0 1rem;
  text-transform: uppercase;
  transition: .3s cubic-bezier(.79,.14,.15,.86);
}

.default-button.reverse-effect:hover {
  color: #ff0052;
}

.default-button:hover:after {
  background-color: #fff;
  -webkit-transform: translate(-4px,-4px);
  transform: translate(-4px,-4px);
}

.default-button:hover img{
  color: #ff0052;
}


.post-content:hover{
  transform: translateY(-5px);
  transition: all .3s linear;
}

.swiper-button-next{
  background-color: #fff;
  width: 2.5rem !important;
  height: 3rem !important;
}
.swiper-button-prev{
  background-color: #fff;
  width: 2.5rem !important;
  height: 3rem !important;
}
.swiper-button-next::after, .swiper-button-prev::after{
  content: "";
  background-image: url(/blog-image/rounded-left.svg);
}

.play-btn{
  position: absolute;
  background-color: #fff;
}
.bg{
  background-color: #232a5c;
  position: absolute;
  right: 0;
  height: 500rem;
  width: 36%;
}

/* .left-dotet{
  background-color: #ff0052;
  border-radius: 2px;
  margin-top: 45px;
  height: 4px;
  width: 40px;
}

.right-dotet{
  border-bottom: 5px dotted #ff0052;
  margin-top: 45px;
  left: 70px;
  width: 30px;
} */


.dotet::before {
  content: "";
  position: absolute;
  background-color: #ff0052;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 40px;
}
.dotet::after{
  border-bottom: 5px dotted #ff0052;
  content: "";
  left: 45px;
  bottom: 0;
  position: absolute;
  width: 30px;
}
.search-wrapper input {
  background-color: #39406d;
  border: none;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin-bottom: 0;
  outline: none;
  padding: 13px 23px;
  width: 100%;
}
.search-wrapper button {
  background-color: inherit;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  outline: none;
  padding: 0;
  right: 0;
  top: 0;
  width: 50px;
}
.widget-wrapper:hover .post-thumb img{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: all .3s linear;
}
.month .icofont-ui-calendar:before {
  content: "\ec45";
}
.category-content a:hover .month{
  transform: translateX(10px);
  transition: all .3s linear;
}

.widget-tags ul.tags-content li a {
  border: 1px solid hsla(0,0%,100%,.1);
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
  padding: 7px 13px;
  transition: all .3s linear;
}
.widget-tags ul.widget-wrapper li a {
  border: 1px solid hsla(0,0%,100%,.1);
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
  padding: 7px 13px;
  transition: all .3s linear;
}