body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog-banner{
  background-image: url(./blog-image/bg.jpg);
  background-position: 50%;
  background-size: cover;
  padding: 297px 0 150px;
}

.account-wrapper {
  background: #232a5c;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
  margin: 0 auto 15px;
  max-width: 545px;
  padding: 60px 80px;
  text-align: center;
}
.account-form .form-group {
  margin-bottom: 15px;
}
.account-form .form-group input {
  background: hsla(0,0%,100%,.1);
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
  color: #fff;
  line-height: 36px;
  padding: 10px 15px;
  width: 100%;
}
.account-form .form-group .checkgroup {
  align-items: center;
  flex-wrap: nowrap;
}
.account-form .form-group .checkgroup input[type=checkbox] {
  height: 18px;
  margin-right: 15px;
  width: 18px;
}

.or::after{
  content: "";
  position: absolute;
  -webkit-animation: pluse_animate2 1s linear infinite;
  animation: pluse_animate2 1s linear infinite;
  animation-delay: 1s;
  height: 40px;
  width: 40px;
  background: #ff0052;
  border-radius: 50%;
  z-index: -100;
}

.or::before{
  content: "";
  position: absolute;
  -webkit-animation: pluse_animate3 1.5s linear infinite;
  animation: pluse_animate3 1.5s linear infinite;
  animation-delay: 1s;
  height: 50px;
  width: 50px;
  background: #ff0052;
  border-radius: 50%;
  z-index: -99;
}

@keyframes pluse_animate3{
  0%{
    transform: scale(.01);
    opacity: 1;
  }
  100%{
    transform: scale(1.5);
    opacity: .1;
  }
}

@keyframes pluse_animate2{
  0%{
    transform: scale(.01);
    opacity: 1;
  }
  100%{
    transform: scale(1.5);
    opacity: .1;
  }
}

.match-social-list a img:hover{
  transform: translateY(-2px);
  transition: all .3s linear;
}

@media screen and (max-width: 499px){
  .account-wrapper {
      padding: 40px 15px;
  }
}
@media (max-width: 767px){
  .account-wrapper {
      padding: 50px 40px;
  }
}