body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff !important;
  font-family: Barlow, sans-serif;
  line-height: 1.5;
}

body a,
body a > h1,
body a > h2,
body a > h3,
body a > h4,
body a > h5,
body a > h6 {
  transition: all 0.3s linear;
}
.header-section {
  backdrop-filter: blur(20px);
  background: rgba(35, 42, 92, 0.3);
  z-index: 999;
  position: absolute;
  width: 100%;
}

.header-section2 {
  content: "";
  position: absolute;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(35, 42, 92, 0.3);
  z-index: 999;
  width: 100%;
}

.header-menu-part {
  position: relative;
}

.header-menu-part {
  width: 100%;
}
.header-top {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.header-top-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header-top * {
  color: #fff;
}

.header-top-area .left {
  margin: 0 -25px;
  display: flex;
  flex-wrap: wrap;
}
.header-top-area .left li {
  padding: 15px 25px;
}
.header-top-area .left li i {
  margin-right: 5px;
}

.header-top-area .left li:first-child {
  margin-left: 30px;
  position: relative;
}
.header-top-area .social-icons {
  margin: 0;
}
.header-top-area .social-icons li {
  position: relative;
  padding: 0;
  margin: 0;
}

.header-top-area .social-icons li:last-child {
  right: -12px;
}
.header-top-area .social-icons li a {
  background: transparent;
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.header-top-area .social-icons li a img {
  width: 16px;
  height: 16px;
}
ul li {
  margin-left: 0;
  list-style: none;
}

.header-top-area .social-icons li:after {
  content: "";
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0.1);
  height: 120%;
  right: 0;
  top: -5px;
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  width: 1px;
}

@media (min-width: 576px) {
  .header-wrapper {
    position: relative;
  }
}
.header-wrapper {
  padding: 19px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper .menu-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}
.dropdown-menu.show {
  display: block;
}
.menu-item-has-children > a {
  position: relative;
}
[role="button"] {
  cursor: pointer;
}

.menu > li > a {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 22px;
  text-transform: uppercase;
}

.menu-item-has-children > a:before {
  height: 10px;
  right: 29px;
  transition: all 0.3s linear;
  width: 2px;
  content: "";
  position: absolute;
}

.menu-item-has-children.open > a:before,
.menu-item-has-children:hover > a:before {
  opacity: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.menu-item-has-children > a:after,
.menu-item-has-children > a:before {
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-item-has-children > a:after,
.menu-item-has-children > a:before {
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-item-has-children > a:after {
  height: 2px;
  right: 25px;
  width: 10px;
  content: "";
  position: absolute;
}

.dropdown-menu {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: #212529;
  display: none;
  font-size: 1rem;
  list-style: none;
  margin: 0;
  min-width: 10rem;
  padding: 0.5rem 0;
  position: absolute;
  text-align: left;
  z-index: 1000;
}

.header-wrapper .menu-area .login,
.header-wrapper .menu-area .signup {
  display: none;
}

.header-bar {
  height: 20px;
  width: 25px;
  cursor: pointer;
  position: relative;
}

.header-bar,
.header-top-area .left li:first-child {
  margin-left: 30px;
}

.header-bar span:first-child {
  top: 0;
}
.header-bar.active span:first-child {
  -webkit-transform: rotate(45deg) translate(3px, 9px);
  transform: rotate(45deg) translate(3px, 9px);
}
.header-bar span:nth-child(2) {
  top: 52%;
  -webkit-transform: translateY(-65%);
  transform: translateY(-65%);
}
.header-bar.active span:nth-child(2) {
  opacity: 0;
}
.header-bar.active span:last-child {
  -webkit-transform: rotate(-45deg) translate(3px, -9px);
  transform: rotate(-45deg) translate(3px, -9px);
}
.header-bar span:last-child {
  bottom: 0;
}
.header-bar span {
  background-color: #fff;
  height: 3px;
  left: 0;
  transition: all 0.3s linear;
  display: inline-block;
  width: 100%;
  content: "";
  position: absolute;
}

.header-wrapper .menu-area .ellepsis-bar {
  font-size: 20px;
}

.header-wrapper .menu-area .ellepsis-bar i {
  color: #fff;
  coursor: pointer;
}

.header-wrapper .menu-area .login {
  border-radius: 2px 0 0 2px;
  color: #ff0052;
  transition: all 0.3s linear;
  position: relative;
  background-color: #fff;
}
.header-wrapper .menu-area .signup {
  border-radius: 0 2px 2px 0;
  color: #fff;
  background: #ff0052;
  position: relative;
}

.header-wrapper .menu-area .signup:before {
  background: #fff;
  border-radius: 2px;
  bottom: 0;
  height: 2px;
  left: 1px;
  width: 100%;
  content: "";
  position: absolute;
}

.header-wrapper .menu-area .signup:after {
  background: #fff;
  bottom: 0;
  height: calc(100% - 2px);
  right: -1px;
  width: 2px;
  content: "";
  position: absolute;
}

.header-wrapper .menu-area .login:before {
  content: "";
  position: absolute;

  background: #ff0052;
  bottom: 0;
  height: 2px;
  left: 1px;
  transition: all 0.3s linear;
  width: 100%;
}

@media (min-width: 576px) {
  .header-top-area .left li:first-child:after {
    background-color: hsla(0, 0%, 100%, 0.1);
    content: "";
    height: 120%;
    position: absolute;
    right: 0;
    top: -7px;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    width: 1px;
  }
  .header-wrapper {
    position: relative;
  }
}

@media (max-width: 575px) {
  .header-wrapper {
    position: relative;
  }
  .header-wrapper .menu-area .ellepsis-bar {
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .menu {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(35, 42, 92, 0.8);
    left: 0;
    max-height: 400px;
    overflow: auto;
    position: absolute;
    top: 100%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    transition: all 0.3s ease;
    width: 100%;
  }
  .menu li {
    padding: 0;
    width: 100%;
  }

  .menu li a {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 25px;
    text-transform: capitalize;
  }

  .menu li .submenu {
    background-color: transparent;
    padding-left: 20px;
    position: static !important;
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
  }

  .menu li .submenu li {
    width: 100%;
  }
  .menu.active {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  .header-wrapper {
    width: 100%;
  }
  .header-top {
    background-color: rgba(35, 42, 92, 0.95);
    display: none;
  }
}
@media (min-width: 768px) {
  .header-wrapper .menu-area .login,
  .header-wrapper .menu-area .signup {
    display: inline-block;
    padding: 10px;
  }
}
@media (min-width: 992px) {
  .header-menu-part {
    width: 75%;
  }

  .header-menu-part:after {
    background-color: hsla(0, 0%, 100%, 0.1);
    content: "";
    height: 120%;
    left: -15px;
    position: absolute;
    top: -20px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    width: 1px;
  }
  .menu-item-has-children > a:after,
  .menu-item-has-children > a:before {
    background-color: #fff;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .menu-item-has-children > a:before {
    height: 10px;
    right: 4px;
    transition: all 0.3s linear;
    width: 2px;
  }

  .justify-content-lg-end {
    justify-content: flex-end !important;
  }

  .menu-item-has-children > a:after {
    height: 2px;
    right: 0;
    width: 10px;
  }
  .menu {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .menu li {
    position: relative;
  }

  .menu li:hover > .submenu {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }

  .menu li .submenu {
    background: #fff;
    border: none;
    box-shadow: 0 0 10px rgb(0 0 0 / 18%);
    display: block;
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
    transition: all 0.3s ease;
    visibility: hidden;
    width: 220px;
    z-index: 9;
  }

  .menu li .submenu li {
    padding: 0;
  }

  .menu li .submenu li a.active,
  .menu li .submenu li a:hover {
    background: #ff0052;
    color: #fff;
    padding-left: 22px;
  }

  .menu li .submenu li a {
    align-items: center;
    border-bottom: 1px solid #ecf0f3;
    color: #000;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: space-between;
    padding: 10px 20px;
    text-transform: uppercase;
  }

  .menu li:hover > .submenu {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }

  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .header-wrapper .menu-area .login,
  .header-wrapper .menu-area .signup {
    padding: 15px;
  }
}

/* .container {
  margin: 0 auto;
  padding-inline: 20px;
  width: 100%;
} */

.banner-section {
  background-image: url(./image/bg.jpg);
  padding: 350px 0 362px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .banner-section {
    padding: 50px 0 200px;
  }
}

@media screen and (min-width: 1280px) {
  .banner-section {
    padding: 250px 0 250px;
  }
}

@media screen and (min-width: 1536px) {
  .banner-section {
    padding: 350px 0 350px;
  }
}

.right ul li img {
  width: 50px;
  height: 50px;
  padding: 10px;
}
.user {
  width: 17px;
  height: 17px;
}

.menu ul li a {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 22px;
  text-transform: uppercase;
}

a {
  color: #fff;
  text-decoration: none;
}

.p-menu1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* Hamburger */
.hamburger1 {
  height: 30px;
  margin: 69px 75px 36px 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: end;
  z-index: 120;
}

.hamburger1 div {
  background-color: rgb(255, 250, 250);
  position: relative;
  width: 25px;
  height: 3px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 200px;
}

/* Menu */
.menu1 {
  width: 96%;
  background-color: #02173f;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 0px;
}

.menu1 a:last-child {
  margin-bottom: 0px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  font: 700 20px "Oswald", sans-serif;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
}

.link1:hover {
  background: rgba(255, 0, 82, 0.6);
  color: rgb(255, 250, 250);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.botton {
  background-color: #fff;
  padding: 12px;
  border-radius: 2px 0 0 2px;
  color: #ff0052;
}
.botton-tow {
  background-color: #ff0052;
  padding: 12px;
  border-radius: 2px 0 0 2px;
  color: #fff;
}
.botton:before {
  background: #ff0052;
  bottom: 0;
  height: 2px;
  left: 1px;
  transition: all 0.3s linear;
  width: 100%;
}
.banner-section p {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.watch-botton {
  border-radius: 3px;
  color: #fff;
  background-color: #ff0052;
  font-family: Oswald, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 3rem !important;
  line-height: 60px;
  transition: 0.3s cubic-bezier(0.79, 0.14, 0.15, 0.86);
  padding: 1rem 2rem;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
.banner-thumb-image {
  animation: rotation 8s infinite linear;
}

.banner-thumb {
  display: flex;
  margin: auto;
}

.match-section {
  background-color: #0b173d;
}

.match-card .card {
  padding: 20px 30px;
  background-image: -webkit-radial-gradient(
    50% 50%,
    circle closest-side,
    #fff 100%,
    #ffd46c 340%
  );
}
.info {
  padding: 25px;
  background-color: #ff0052;
}

.banner-content .default-button {
  padding: 0 2rem;
}

.default-button.reverse-effect {
  color: #fff;
}

.match-social-list .default-button {
  margin-left: 15px;
}
.match-social-list a {
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.default-button.reverse-effect:before {
  background-color: #ff0052;
}

.default-button:before {
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(0 0 0 / 20%);
  z-index: 1;
}

.default-button.reverse-effect:hover:before {
  background-color: #fff;
}
.default-button.reverse-effect:hover:after {
  background-color: #ff0052;
}

.match-social-list .default-button {
  line-height: 50px;
}

.default-button:after,
.default-button:before {
  border-radius: 4px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.3s cubic-bezier(0.79, 0.14, 0.15, 0.86);
  width: 100%;
}
.default-button.reverse-effect:after {
  background-color: #fff;
}

.default-button:after,
.default-button:hover {
  -webkit-transform: translate(4px, 4px);
  transform: translate(4px, 4px);
}

.default-button:after {
  background-color: #ff0052;
  z-index: 0;
}

.default-button span {
  position: inherit;
  z-index: 2;
}

.match-social-list .default-button {
  line-height: 50px;
}

.default-button.reverse-effect {
  color: #fff;
}

.default-button {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  color: #ff0052;
  font-family: Oswald, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 3rem;
  line-height: 60px;
  padding: 0 1rem;
  text-transform: uppercase;
  transition: 0.3s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

.default-button.reverse-effect:hover {
  color: #ff0052;
}

.match-social-list a:hover {
  -webkit-filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.301));
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.301));
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.match-social-list .default-button {
  line-height: 50px;
}

.default-button:hover:after {
  background-color: #fff;
  -webkit-transform: translate(-4px, -4px);
  transform: translate(-4px, -4px);
}

.default-button:hover img {
  color: #ff0052;
}

.upcome-matches-card {
  padding: 20px 10px;
  background-image: -webkit-radial-gradient(
    50% 50%,
    circle closest-side,
    #fff 100%,
    #ffd46c 340%
  );
}

.Previous-matches-card {
  padding: 20px 10px;
  background-image: -webkit-radial-gradient(
    50% 50%,
    circle closest-side,
    #fff 100%,
    #6dc79c 340%
  );
}

.time {
  width: 80%;
  margin: auto;
}
.time:hover {
  -webkit-transform: rotateY(1turn);
  transform: rotateY(1turn);
}
.time {
  transition: 0.4s linear;
}
.our-squad {
  background-color: #00134e;
  padding-top: 115px;
  padding-bottom: 80px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 386.667px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.squad-card-item-1 {
  width: 100%;
  background-size: cover;
  border: 10px solid #232a5c;
}
.footer {
  background-image: url(./image/bg.jpg);
}
.rot {
  transition: all 0.3s linear;
}
.rot:hover {
  -webkit-transform: scale(1.1) rotate(-5deg);
  transform: scale(1.1) rotate(-5deg);
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}

.form-group input {
  background: #232a5c;
  border: none;
  box-shadow: none;
  color: #fff;
  padding: 13px 15px;
  border-radius: 2px;
  width: 100%;
}

.p-menu1 {
  display: none;
}
@media screen and (min-width: 1500px) {
  .banner-thumb {
    /* bottom: 5rem; */
    align-items: end;
  }
}
/* 
@media screen and (max-width: 1500px) {
  .banner-thumb {
    bottom: 0rem;
    margin-left: 0rem;
    width: 90%;
    align-items: end;
  }
  .banner-thumb-image a img {
    width: 95%;
  }
} */
/* @media screen and (max-width: 1200px) {
  .banner-thumb {
    bottom: 4rem;
    margin-left: 0rem;
    width: 88%;
  }
  .banner-thumb-image a img {
    width: 90%;
  }
} */

@media screen and (max-width: 1025px) {
  /* .menu {
    display: none;
  } */
  .p-menu1 {
    display: inline;
  }
  .containe {
    width: 100%;
  }
  .banner-thumb-image a img {
    width: 80%;
  }
  /* .header-bottom {
    padding-right: 2rem;
  }
  .banner-thumb {
    bottom: 2rem;
  } */
}
@media screen and (max-width: 900px) {
  /* .header-bottom {
    padding-right: 4rem;
  } */
  .banner-thumb-image a img {
    width: 70%;
  }
  .logo img {
    width: 80%;
  }
  .banner-thumb {
    bottom: 0rem;
    align-items: center;
  }
  .main-vs img {
    width: 60%;
    margin: auto;
  }
}
